<%= stylesheet_link_tag "application", media: "print" %>
    <div class="main-panel">
      <%= render 'layouts/top_navbar'%>
      <%= render 'layouts/flash' %>
        <div class="content">
            <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">New Billing</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <p>BillNo. <%= @billing.bill_no %></p>
                      <p>Date:- <%= @billing.created_at.strftime("%d/%m/%Y")%></p>
                      <p>Custome Name:- <%= @billing.name %></p>
                      <p>Custome Phone:- <%= @billing.phone %></p>
                      <p>Due Date:- <%= @billing.due_date.strftime("%d/%m/%Y")%></p>
                      <% if @billing.total_paid_amount.present? %>
                       <p>Total Paid Amount:- <%= @billing.total_paid_amount %></p>
                        <p>Balance Amount:- <%= @billing.get_balance_amount_after_paid_final_amount %></p>
                      <% end %>

                    </div>
                    <div class="col-md-9">
                      <div class="row row-top">
                          <div class="col-md-4"><h4>Items</h4></div>
                          <div class="col-md-4"><h4>Service</h4></div>
                          <div class="col-md-2"><h4>Quantity</h4></div>
                          <div class="col-md-2"><h4>Amount</h4></div>
                      </div>
                      <div>
                      <% @billing.carts.each do |cart| %>
                        <div class="row" style="margin-top: 15px;">
                          <div class="col-md-4"><%= cart.item.name %><%= "(#{cart.remark})" if cart.remark.present?%></div>
                          <div class="col-md-4"><%= "(#{cart.service.name})" if cart.service.present?%></div>
                          <div class="col-md-2"><%= cart.quantity %></div>
                          <div class="col-md-2"><%= cart.amount %>/-</div>
                        </div>
                      <% end %>
                      </div>
                      <div class="row row-top" style="margin-top: 20px;">
                        <div class="col-md-4">Total Amount -</div>
                        <div class="col-md-4"></div>
                        <div class="col-md-2"><%= @billing.carts.sum(:quantity) %></div>
                        <div class="col-md-2"><%= @billing.amount %>/-</div>                        
                      </div>              
                        <% if @billing.receipt %>
                          <div class="row">   
                            <div class="col-md-4"></div>                   
                            <div class="col-md-4">
                              <div class="form-group">
                                <p class="">Advance -</p>
                              </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <p>-<%= @billing.advance_amount %>/-</p>
                              </div>
                            </div>
                          </div>
                          <div class="row">       
                            <div class="col-md-4"></div>               
                            <div class="col-md-4">
                              <div class="form-group">
                                <p class="">Discount -</p>
                              </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <p>-<%= @billing.discount_amount %>/-</p>
                              </div>
                            </div>
                          </div>
                          <% if @billing.adjust_balance %>
                          <div class="row">      
                            <div class="col-md-4"></div>                
                            <div class="col-md-4">
                              <div class="form-group mr-20">
                                <p class="">Adjust Balance(<%=link_to @billing.bill_no_of_balance_amount.bill_no, billing_path(@billing.bill_no_of_balance_amount) %>)</p>
                              </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                              <div class="form-group mr-20">
                                <p><%= get_adjust_balance_status(@billing.adjust_balance) %></p>
                              </div>
                            </div>
                          </div>
                          <% end %>
                          <div class="row row-top">
                            <div class="col-md-4"></div>                      
                            <div class="col-md-4">
                              <div class="form-group mr-20">
                                <p class="">Final Amount</p>
                              </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                              <div class="form-group mr-20">
                                <p><%= @billing.final_amount %>/-</p>
                              </div>
                            </div>
                          </div>
                        <% else %>                   
                        <%= form_for @billing, url: update_final_billing_billing_path(@billing) do |f| %>
                          <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <p class="">Advance</p>
                              </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <% if @billing.advance_amount.present? %>
                                  <%= f.number_field :advance_amount, class: "form-control", readonly: true %>
                                <% else %>
                                  <%= f.number_field :advance_amount, class: "form-control" %>
                                <% end %>
                              </div>
                            </div>
                          </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <p class="">Discount</p>
                                  </div>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <%= f.number_field :discount_amount, class: "form-control" %>
                                  </div>
                                </div>
                            </div>
                          <% if @billing.adjust_balance %>
                            <div class="row">      
                              <div class="col-md-4"></div>                
                              <div class="col-md-4">
                                <div class="form-group mr-20">
                                  <p class="">Adjust Balance(<%=link_to @billing.bill_no_of_balance_amount.bill_no, billing_path(@billing.bill_no_of_balance_amount) %>)</p>
                                </div>
                              </div>
                              <div class="col-md-2"></div>
                              <div class="col-md-2">
                                <div class="form-group mr-20">
                                  <p><%= get_adjust_balance_status(@billing.adjust_balance) %></p>
                                </div>
                              </div>
                            </div>
                          <% end %>                          
                          
                          <% if @billing.adjust_balance? %>
                              <div class="row">      
                                <div class="col-md-4"></div>                
                                <div class="col-md-4">
                                  <div class="form-group mr-20">
                                    <p class="">Adjust Balance ID</p>
                                  </div>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                  <div class="form-group mr-20">
                                    <p><%= f.number_field :balance_id, class: "form-control" %></p>
                                  </div>
                                </div>
                              </div>
                          <% end %>                       
                           <div class="row row-top">      
                            <div class="col-md-4"></div>                
                            <div class="col-md-4">
                              <div class="form-group mr-20">
                                <p class="">Final Amount</p>
                              </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                              <div class="form-group mr-20">
                                <p><%= @billing.final_amount %>/-</p>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                              <%= f.submit "Done", class: "btn btn-primary" %>                              
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
<style type="text/css">
    .row-top{
        background: #964daf;
        color: white;
        padding: 4px;
        border-radius: 3px;
        margin-right: -4px;
        margin-left: -4px;
    }
    .bd-top{
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }
   
</style>

<script type="text/javascript">    
    function PrintDiv() {   
       var divToPrint = document.getElementById('print');
       var popupWin = window.open('', '_blank', 'width=900,height=700');
       popupWin.document.open();
       popupWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</html>');
        popupWin.document.close();
            }
 </script>




